.pace-running > :not(.pace) {
  opacity: 0;
}

.pace-done > :not(.pace) {
  opacity: 1;
  transition: opacity .5s ease;
}
/*.loading-img {*/
/*  height: 250px;*/
/*  left: 50%;*/
/*  margin-top: -125px;*/
/*  margin-left: -125px;*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  width: 250px;*/
/*}*/


.selected-flag-container {
  text-align: center;
}

.flag {
  border-bottom: 1px solid #878796;
  margin-left: 3px;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
