body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.loading-img {
  height: 250px;
  left: 50%;
  margin-top: -125px;
  margin-left: -125px;
  position: absolute;
  top: 50%;
  width: 250px;
}

.pointer {
  cursor: pointer;
}
.selected-flag-container {
  text-align: center;
}

.flag {
  border-bottom: 1px solid #878796;
  margin-left: 3px;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.thumb {
  width: 25px;
  height: 25px;
}
.thumb:after{
  content: "\00a0";
}